.button {
    border: none;
    background: #bf068a;   
    color: white;
    cursor: pointer;
    padding: 6px 15px;
    text-align: center;
    outline: none;
    transition: all 0.2s ease-out;
}

.button:focus-within {
    background: #bf069a;
    box-shadow: 2px -2px 9px #bf068a;
    transform: translateY(4px);
}