.text-input {   
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid pink;
    outline: none;
    font-family: inherit;
    color: pink;
    transition: all 0.2s ease-in-out;
}

.text-input:focus {
    transform: scale(1.2);
}

.input-container  .text-input:focus .input-container {
    transform: scale(1.2);
}