.text-input-container {
    width: 100%;
    text-align: start;    
}

.text-input {   
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid pink;
    outline: none;
    font-family: inherit;
    color: pink;
    transition: all 0.2s ease-in-out;
}

.text-input:focus {
    transform: scale(1.2);
}


.text-input-container label span:after{
    content: ' :';
}

.text-input-container  .text-input:focus .text-input-container {
    transform: scale(1.2);
}